<%- include("./partials/header.ejs"); %>

<%- include("./partials/navbar.ejs"); %>

<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Wipro</h1>
        <h6>May 2022 - Present (<%=noOfYears%> year<%=sy%> <%=noOfMonths%> month<%=sm%>)</h6>
        <p class="col-md-15 fs-4">
          Collaborated with a multidisciplinary team to reduce engine acoustics and minimize vibrational forces.
      </p>
        <p class="col-md-15 fs-4">
          Streamlined communication channels by configuring mailboxes.
        </p>
        <p class="col-md-15 fs-4">
          Implemented robust security rules to enhance data protection.
        </p>
      </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Mahindra & Mahindra</h1>
        <h6>Jul 2021 - Sep 2021 (3 Months)</h6>
        <p class="col-md-15 fs-4">
        Successfully managed the creation and assignment of responsibilities for 100+ countries, thereby optimizing organizational efficiency.
      </p>
        <p class="col-md-15 fs-4">
          Developed an innovative app using MATLAB to calculate forces, contributing to project success..
        </p>
      </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Zuura Formula Racing</h1>
        <h6>Dec 2018 - Apr 2022 (3 years 5 months)</h6>
        <p class="col-md-15 fs-4">
          Led a dynamic team of 10 engineers in designing the chassis for an FSAE vehicle. 
      </p>
        <p class="col-md-15 fs-4">
          Collaborated with a team of 30 engineers to manufacture an FSAE vehicle, achieving exceptional results.
        </p>
        <p class="col-md-15 fs-4">
          Represented the only Indian team in the FSAE Australasia competition, securing a special award from the judges.
        </p>
      </div>
    </div>
</main>

<%- include("partials/footer"); %>
